*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    margin:0;
    padding:0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin:0;
}

img{
    display: block;
}

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:#434455;
    background-color: #FFFFFF;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.header-title{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
}

.logo-link{
    color: var(--NAVY-BLUE, #4d5ae5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    display: block;
    margin-right:76px;
}



.logo-span {
    color: #2E2F42;
}

.container-header{
    display: flex;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.nav-main{
    align-items: center;
    gap: 40px;
    display: flex;
}

ul{
    list-style-type: none;
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}

h2,
h3 {
    margin: 0;
}

a{
    text-decoration: none;
    padding: 24px 0;
}

.nav-item {
    color: #2E2F42; 
    text-decoration: none;
    
}

.nav-item:hover{
    color:#404BBF;
}

.nav-item:focus{
    color: #404BBF;
}


.nav-list{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
    display: flex;
    gap:40px;
    padding: 24px 0;
    margin-left:76px;
}

.alt-nav{
    font-weight: 500;
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
   
}


.address{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    font-weight: 400;
    margin-left: auto;
   
}

.alt-address{
    gap: 40px;
    display: flex;
}
.alt-address-item{
    color: #434455;
    display: flex;
}

.alt-address-item:hover{
    color:#404BBF;
    cursor:pointer;
    gap: 40px;
}

.alt-address-item:focus{
    color:#404BBF;
    cursor:pointer;
}

.first-section{
    background-color: #2E2F42;
    padding: 188px 0;
}

.container {
    padding: 32px 0;
    margin:0 auto;
    width: 1158px;
}

.header{
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-transform: capitalize;
}

.button{
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    color: var(--WHITE, #FFF);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--IRIS, #4D5AE5);
}

.button:hover,
.button:focus {
    cursor: pointer;
    background-color: #404BBF;
}

.second{
    padding: 120px 0;
}

.second-section{
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
}
.second-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom:8px;
    
} 
.second-section-list{
    width: calc((100% - 72px) / 4);
}

.second-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.third{
    background-color: #f4f4fd;
    display: flex;
    padding: 120px 0px;
    text-align: center;
    
}
.our-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.third-item{
    display: flex;
    gap: 24px;
}
.third-text{
    text-align: center;
}

.third-article{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.third-employee-info{
    padding: 32px 0;
}

.third-employee{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.third-employee-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-align: center;
}

.forth {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2E2F42;
}
.our-portfolio-item{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.forth-header-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.forth-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.forth-text{
    letter-spacing: 0.02em;
    line-height: 1.5;
    color:#434455;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}
.forth-item{
    display: flex; 
    flex-wrap: wrap;
    column-gap: 24px;
}
.forth-item-img{
    width: calc((100% - 48px) / 3);
}

.footer{
    background-color:#2E2F42;
    padding: 100px 0;

}

.footer-alt{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
    display:inline-block;
}

.footer-logo{
    color: #f4f4fd;

}

.footer-text{ 
    line-height: 1.5;
    color:#f4f4fd;
    letter-spacing:0.02em;
    max-width: 264px;
}